.leftContainer,
.rightContainer {
  background-color: var(--br2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 19vw;
  height: 85vh;
}

.leftContainer {
  border-radius: 5px 0px 0px 5px;
}

.rightContainer {
  border-radius: 0px 5px 5px 0px;
}

.middleContainer {
  /* background-color: var(--br2); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 59vw;
  height: 85vh;
}

.component,
.mainComponent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

#user p,
#opponent p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

#chatWindow {
  margin: 5px 5px 0px 5px;
  height: 78vh;
  border: 2px solid var(--g1);
  border-radius: 5px;
}

#timer {
  margin: 5px;
  height: 5vh;
  border: 2px solid var(--g1);
  border-radius: 5px;
}

#chatBox {
  margin: 5px;
}

#chatBox input {
  height: 5vh;
  border: 2px solid var(--g1);
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}

#oppVideo,
#userVideo {
  margin: 5px 5px 0px 5px;
  height: 20vh;
  border: 2px solid var(--g1);
}

#oppPieces,
#userPieces {
  margin: 5px;
  height: 10vh;
  border: 2px solid var(--g1);
  border-radius: 5px;
}

#chessboard {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: auto;
  height: 100%;
  border: 2px solid var(--g1);
}

.hide {
  display: none;
}

/* =============== mobile =============== */
@media all and (max-width: 600px) {
  .column {
    flex-direction: row;
  }

  .leftContainer {
    width: 100vw;
    height: 20vh;
  }

  .rightContainer {
    width: 100vw;
    height: 15vh;
  }

  .middleContainer {
    width: 100vw;
    height: 52vh;
  }

  .component {
    flex-direction: row;
    flex-wrap: wrap;
    width: 50vw;
  }

  #opponent,
  #user {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  #user p,
  #opponent p {
    display: none;
}

  #oppVideo,
  #userVideo {
    width: 47vw;
    height: 12vh;
  }

  #oppPieces,
  #userPieces {
    width: 47vw;
    height: 5vh;
  }

  #chatWindow {
    height: 10vh;
    width: 100vw;
  }

  #chatBox,
  #timer {
    width: 100vw;
    height: 3vh;
  }

  #chessboard {
    height: 46vh;
    width: 100vw;
  }
}