#roomDiv {
  display: flex;
  flex-direction: row;
  width: 98vw;
  height: 86vh;
  background: var(--br2-g);
  border-radius: 10px;
}

.leftContainer,
.rightContainer {
  width: 19vw;
  height: 85vh;
}

.leftContainer {
  border-radius: 5px 0px 0px 5px;
}

.rightContainer {
  border-radius: 0px 5px 5px 0px;
}

.middleContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60vw;
  height: 85vh;
}

.component,
.mainComponent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

#user p,
#opponent p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

#chatWindow {
  margin: 5px 5px 0px 5px;
  height: 78vh;
  border: 2px solid var(--g1);
  border-radius: 5px;
}

#timer {
  margin: 5px;
  height: 5vh;
  border: 2px solid var(--g1);
  border-radius: 5px;
}

#chatBox {
  margin: 5px;
}

#chatBox input {
  height: 6vh;
  border: 2px solid var(--g1);
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  align-items: top;
}

#oppVideo,
#userVideo {
  margin: 5px 5px 0px 5px;
  height: 20vh;
  border: 2px solid var(--g1);
}

#oppPieces,
#userPieces {
  margin: 5px;
  padding: 1px;
  height: 10vh;
  border: 2px solid var(--g1);
  border-radius: 5px;
}

#chessboard {
  margin: 5px;
  width: auto;
  height: auto;
}

.hide {
  display: none;
}

/* =============== mobile =============== */
@media all and (max-width: 930px) {
  #roomDiv {
    flex-direction: column;
  }

  .leftContainer {
    width: 98vw;
    height: 14vh;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid var(--g1);
  }

  .rightContainer {
    width: 97vw;
    height: 14vh;
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
  }

  .middleContainer {
    width: 97vw;
    height: 65vh;
    padding: 5px;
  }

  .component {
    flex-direction: column;
    flex-wrap: wrap;
    width: 95vw;
  }

  .mobileComp {
    display: flex;
    flex-direction: row;
    width: 95vw;
  }

  .room-id {
    width: 95vw;
  }

  #userDiv,
  #oppDiv {
    width: 48vw;
  }

  #opponent,
  #user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #oppVideo,
  #userVideo {
    display: none;
  }

  #oppPieces,
  #userPieces {
    width: 40vw;
    height: 5vh;
  }

  #chessboard {
    width: 95vw;
  }

  #chatWindow {
    height: 50px;
    width: 99%;
  }

  #chatBox input,
  #timer {
    width: 100%;
    height: 24px;
  }

  #chessboard {
    height: 46vh;
    width: 100vw;
    margin: 0px;
  }
}
