:root {
  --g1: #1F2933;
  --g2: #3E4A51;
  --g3: #9A9D9E;
  --br1: #B3A49C;
  --br2: #EEE2CC;
}

* {
  margin:0%;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}