<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chess title</title>
    <script src="https://cdn.rawgit.com/BioPhoton/angular1-star-rating/v1.2.4/dist/index.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/37ee78d39c.js" crossorigin="anonymous"></script>
</head>
<body>

     <header>
        
        {{#if loggedIn}}
        <a href="/">Home</a>
        <a href="/game">Games</a>
        <a href="/logout">Log out</a>
        {{else}}
        <a href="/login">Log in</a>
        <a href="/signup">Sign up</a>
        {{/if}}

 
    </header>

    <h1>chess title</h1>
    <main>
         {{{body}}}
         
    </main>
   
</body>
</html>