.loginDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: auto;
  background: var(--g3-g);
  border-radius: 10px;
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 30vw;
  padding: 20px 0px;
  border-radius: 10px;
}

#createAcct {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0px;
  border-top: 4px solid var(--g1);
}

.loginDiv form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginDiv input {
  height: 25px;
  width: 20vw;
  margin-bottom: 5px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.loginDiv button,
#createAcct button {
  border: none;
  background-color: white;
  border-radius: 5px;
  height: 50px;
  width: 20vw;
  font-size: 18px;
  font-weight: bold;
}

/* =============== mobile =============== */
@media all and (max-width: 600px) {
  .loginDiv {
    min-width: 300px;
  }

  .loginDiv input {
    min-width: 250px;
  }

  .loginDiv button,
  #createAcct button {
    min-width: 250px;
  }
}
