<h1>Login</h1>

<form id="loginForm">
    <input type="text" id="loginEmail" placeholder="email">
    <input type="password" id="loginPw">
    <button>Login</button>
</form>

<script src="/js/login.js"></script>
