<h1>Sign Up</h1>

<form id="signUpForm">
    <input type="text" id="signUpEmail" placeholder="email">
    <input type="text" id="signupUsername" placeholder="Username">
    <input type="password" id="signUpPw" placeholder="password">
    <button>Sign Up</button>
</form>

<script src="/js/signup.js"></script>

