.left {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  width: 40vw;
  height: 87vh;
}

.right {
  /* background-color: var(--g3); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60vw;
  height: 87vh;
}

#profileSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 96%;
  margin: 5px 5px 5px 20px;
  padding: 5px;
  background: var(--br2-g);
  border-radius: 5px;
}

#feedBody {
  width: 95%;
  height: 96%;
  margin: 5px 20px 5px 10px;
  padding: 5px;
  background: var(--br2-g);
  border-radius: 5px;
}

h2,
h3 {
  text-align: center;
  padding-bottom: 1vh;
}

#avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 15rem;
  background-color: white;
  border: 2px solid var(--g1);
  border-radius: 50%;
}

#saveButtonDiv {
  display: flex;
  justify-content: center;
}

#saveButton {
  background-color: var(--g1);
  border: none;
  color: var(--br2);
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 1px;
  cursor: pointer;
  border-radius: 5px;
}

#userBio {
  padding: 2vh 0vw;
  text-align: justify;
}

/* =============== media query =============== */
@media all and (max-width: 600px) {
  .column {
    flex-direction: column;
  }
  .left {
    border-bottom: 2px solid var(--g2);
    border-right: none;
    width: 98%;
    height: 30vh;
  }

  .right {
    width: 100%;
    height: 57vh;
  }

  #profileSection {
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
    width: 97%;
    justify-content: top;
    align-items: normal;
  }

  #feedBody {
    margin: 10px 10px 0px 10px;
    width: 100%;
  }

  #avatar {
    height: 10rem;
    width: 10rem;
  }

  #userBio {
    padding: 0vh 5vw;
  }
}
