section {
  height: 87vh;
  display: flex;
  background-color: var(--g1);
}

.box {
  display: flex;
  align-items: center;
  height: 40vh;
  width: 40vh;
  margin: 20px;
  /* border: 2px solid var(--g2); */
  border-radius: 10px;
}

.box img {
  filter: brightness(50%);
  height: 40vh;
  width: 40vh;
  border-radius: 10px;
}

.box:hover {
  opacity: 0.75;
}

.box a {
  height: auto;
  width: 100%;
}

.box a,
.box button {
  display: flex;
  position: absolute;
  border: none;
  background-color: rgba(238, 226, 204, 0.6);
  height: 7vh;
  width: 40vh;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

/* =============== mobile =============== */
@media all and (max-width: 600px) {
  section {
    display: flex;
    justify-content: space-around;
  }

  .box a,
  .box button {
    height: 5vh;
    width: 30vh;
  }

  .box {
    height: 30vh;
    width: 30vh;
    margin: 10px;
  }

  .box img {
    height: 30vh;
    width: 30vh;
  }
}