@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

:root {
  --g1: rgb(31, 41, 51);
  --g1-g: linear-gradient(
    90deg,
    rgba(31, 41, 51, 1) 60%,
    rgba(39, 51, 64, 1) 100%
  );

  --g2: rgb(62, 74, 81);
  --g2-g: linear-gradient(
    90deg,
    rgba(62, 74, 81, 1) 60%,
    rgba(78, 93, 102, 1) 100%
  );

  --g3: rgb(154, 157, 158);
  --g3-g: linear-gradient(
    90deg,
    rgba(154, 157, 158, 1) 60%,
    rgba(169, 172, 173, 1) 100%
  );

  --br1: rgb(179, 164, 156);
  --br1-g: linear-gradient(
    90deg,
    rgba(179, 164, 156, 1) 60%,
    rgba(196, 180, 171, 1) 100%
  );

  --br2: rgb(238, 226, 204);
  --br2-g: linear-gradient(
    90deg,
    rgba(238, 226, 204, 1) 60%,
    rgba(245, 233, 210, 1) 100%
  );
}

* {
  margin: 0%;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.root,
section {
  background: var(--g1-g);
}

a {
  text-decoration: none;
  color: var(--br2);
}

a:hover {
  color: var(--g3);
}

main {
  margin-bottom: 5vh;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--g1-g);
  min-height: 8vh;
  align-items: center;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

header li {
  padding: 0px 5px;
}

header img {
  width: 40px;
}

#home-button {
  width: 50px;
}

body {
  position: relative;
  min-height: 100vh;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--g1-g);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6%;
  color: var(--br2);
}

footer a {
  text-decoration: none;
  color: var(--br2);
}

input:focus {
  outline: 2px solid var(--g2);
}

/* =============== flexbox classes =============== */
.column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
}

/* =============== media query =============== */
@media all and (max-width: 600px) {
  .column {
    flex-direction: column;
  }
}
