@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root {
  --g1: #1f2933;
  --g2: #3e4a51;
  --g3: #9a9d9e;
  --br1: #b3a49c;
  --br2: #eee2cc;
}

* {
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--g3);
}

header {
  display: flex;
  background-color: var(--g2);
  min-height: 8vh;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

header img {
  width: 50px;
}

footer {
  color: var(--g1);
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

footer a {
  color: var(--g1);
}

/* ========== flexbox classes ========== */
.column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
  flex: 1;
}