.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: auto;
  padding: 20px 0px;
  background: var(--g3-g);
  border-radius: 10px;
}

.signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup input {
  height: 25px;
  width: 20vw;
  margin-bottom: 5px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.signup button {
  border: none;
  background-color: white;
  border-radius: 5px;
  height: 50px;
  width: 20vw;
  font-size: 18px;
  font-weight: bold;
}

/* =============== mobile =============== */
@media all and (max-width: 600px) {
  .signup {
    min-width: 300px;
  }

  .signup input {
    min-width: 250px;
  }

  .signup button {
    min-width: 250px;
  }
}
